pipeline/pipeline_carrier.json
{
	"name": "pipeline_carrier",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "getmetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata').output.exists\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set No File Found",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_status",
								"value": "\"carrier file not found\""
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy_carrier_data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CMSsqlserver",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "carrier_claims"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CMSdatasink",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "carrier",
										"fileName": "carrier_claims.parquet"
									}
								}
							]
						},
						{
							"name": "carrier bronze to silver_copy1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy_carrier_data_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/npulluri26@gmail.com/carrier bronze to silver"
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricksLinkedservices",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "carrier silver to gold_copy1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "carrier bronze to silver_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/npulluri26@gmail.com/carrier silver to gold"
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricksLinkedservices",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Notify_Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://webhook.site/fba82211-ac34-4373-8ad8-ae04888f4caa",
					"body": {
						"status": "Success",
						"pipeline": "pipeline_carrier",
						"message": "Pipeline completed successfully"
					}
				}
			},
			{
				"name": "Notify_Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://webhook.site/fba82211-ac34-4373-8ad8-ae04888f4caa",
					"body": {
						"status": "Failure",
						"pipeline": "pipeline_carrier",
						"message": "Pipeline failed"
					}
				}
			}
		],
		"variables": {
			"file_status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}